:root {
  --max-width: 1224px;
}

.page {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-text {
  position: absolute;
}

.header__logo-image {
  border-radius: 90px;
  width: 100px;
  height: 100px;
}

.search-form {
}

.search-form__input {
}

.search-form__button {
}

.main-nav {
}

.main-nav__list {
}

.site-list {
}

.site-list__item {
}

.site-list__item_active {
}

.user-list {
}

.user-list__item {
}

.user-list__login {
}

.main {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
}

.section-name {
}

.section-name__title {
}

.section-name__description {
}

.section-name_first {
}

.section-name_second {
}

.section-name_theme-dark {
}

.footer {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer__social {
}

.social {
}

.social__title {
}

.social__list {
  display: flex;
}

.social__item {
}

.social__link {
}

.social__link_vkontakte {
}

.social__link_facebook {
}

.social__link_instagram {
}
